@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.ok {
    margin-left: 10%;
    margin-top: 25%;
}

.ok h3 {
    font-weight: 300;
    margin-right: 20%;
}

.ok h5 {
    font-weight: 100;
}

