.iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.iframe .float {
    margin-top: 50px;
    background-color: #1f1e1e;
    width: 130px;
    height: 40px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
}

.iframe .float i {
    color: white;
    margin: 10px;
}

.iframe .float .panic {
    color: #ee5d5d;
}