@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

.home{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cards .g {
    height: 150px;
    width: 330px;
}

.cards .p {
    height: 150px;
    width: 150px;
}

.cards .card {
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
}

.cards .card h2 {
    margin-left: 18px;
    margin-bottom: 18px;
    border-radius: 15px;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
    text-decoration: none;
    color: var(--widget-text);
    background-color: var(--widget-color);
    box-shadow: 4px 3px 8px 1px #6d6d6d33;
  	-webkit-box-shadow: 4px 3px 8px 1px #6d6d6d33;
}

.footer {
    margin-top: 80px;
    margin-left: 30px;
}

.footer .footer-text {
    color: var(--text-color);
    padding-bottom: 20px;
}

.widget{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.widget1 {
    margin-left: 30px;
    margin-bottom: 30px;
    height: 220px;
    width: 80%;
    border-radius: 25px;
    background-color: white;
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
}

 .widget1 h5 {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 10px;
    color: black;
    font-size: 28px;
 }

 .widget1 h6 {
    padding-left: 25px;
    padding-top: 5px;
    padding-right: 10px;
    color: black;
    font-size: 15px;
    font-weight: 300;
 }

 .back {
    background-image: url("../img/cloud/cloud.PNG");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right;
 }

.cards .android{
    background-image: url("../img/cloud/android.jpg");
}
.cards .roblox{
    background-image: url("../img/cloud/roblox.JPG");
}
.cards .stumble{
    background-image: url("../img/cloud/stumble.PNG");
}
.cards .callof{
    background-image: url("../img/cloud/callof.JPG");
}
.cards .minecraft{
    background-image: url("../img/cloud/minecraft.JPG");
}